@using WearWare.Common.Media
@using WearWare.Components.Forms.EditPlayableItemForm

<div class="d-flex gap-2">
    @if (!string.IsNullOrEmpty(ImageSrc))
    {
        @* Image *@
        <div class="d-flex align-items-center">
            <img class="rounded playable-item-image-size" src="@ImageSrc" alt="@Item?.Name" />
        </div>
    }
    <div class="d-flex flex-column justify-content-center">
        @* Name / Filename *@
        <strong class="fs-6 fw-bold">@(FormPage == EditPlayableItemFormPage.Import ? Item?.SourceFileName : Item?.Name)</strong>
        @if (Item is not null)
        {
            @* PlayMode *@
            @if (FormPage != EditPlayableItemFormPage.Library && FormPage != EditPlayableItemFormPage.Import){
                <div class="fs-6">
                    @(
                        @* PlayMode *@
                        $"{Item.PlayMode.ToString()}: " +
                        @* PlayModeValue *@
                        $"{(Item.PlayMode == PlayMode.Loop ? $" {Item.PlayModeValue}x" : (Item.PlayMode == PlayMode.Duration ? $" {Item.PlayModeValue}s" : ""))}"
                    )
                </div>
            }
            @if (FormPage == EditPlayableItemFormPage.Import){
                @* Type (Animation / Image) *@
                <div class = "text-muted fs-6">@(MediaTypeMappings.GetMediaType(Path.GetExtension(Item.SourceFileName)) ?? MediaType.IMAGE)</div>
            }
            else
            {
                @* Brightness *@
                <div class = "fs-6">Brightness: @Item.CurrentBrightness%</div>
            }
        }
    </div>
</div>
