
<div class="d-flex gap-2">
    @if (!string.IsNullOrEmpty(ImageSrc))
    {
        @* Image *@
        <div class="d-flex align-items-center">
            <img class="rounded playable-item-image-size" src="@ImageSrc" alt="@Item?.Name" />
        </div>
    }
    <div class="d-flex flex-column justify-content-center">
        @* Name / Filename *@
        <strong class="fs-6 fw-bold">@(FormPage == EditPlayableItemFormPage.Import ? Item?.SourceFileName : Item?.Name)</strong>
        @if (Item is not null)
        {
            @* PlayMode *@
            @if (FormPage != EditPlayableItemFormPage.Library
                && FormPage != EditPlayableItemFormPage.Import
                && FormMode != EditPlayableItemFormMode.Add){
                <div class="fs-6">
                    @(
                        @* PlayMode *@
                        RenderPlayMode()
                    )
                </div>
            }
            @if (FormPage == EditPlayableItemFormPage.Import){
                @* Type (Animation / Image) *@
                <div class = "text-muted fs-6">@(MediaTypeMappings.GetMediaType(Path.GetExtension(Item.SourceFileName)) ?? MediaType.IMAGE)</div>
            }
            else
            {
                @* Brightness *@
                <div class = "fs-6">Brightness: @Item.CurrentBrightness%</div>
            }
        }
    </div>
</div>
