@page "/playlist"
@rendermode InteractiveServer
@using WearWare.Common.Media
@using WearWare.Components.Forms.AddCopyPlaylistForm
@using WearWare.Components.Forms.AddPlayableItemForm
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard

<PageTitle>WareWare Playlist</PageTitle>

<div>
    @* Playing *@
    <div class="d-flex flex-column mb-2">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Playing</span>
            <select id="activePlaylist" class="form-select" value="@activePlaylist" @onchange="OnActivePlaylistChanged">
                <option value="">(None)</option>
                @if (availablePlaylists != null)
                {
                    foreach (var name in availablePlaylists)
                    {
                        <option value="@name">@name</option>
                    }
                }
            </select>
            <button class="btn btn-outline-success col-3" type="button" @onclick="StartActivePlaylist">Start</button>
            <button class="btn btn-outline-danger col-3" type="button" @onclick="StopActivePlaylist">Stop</button>
        </div>
    </div>
    @* Editing *@
    <div class="d-flex flex-column mb-2">
        <div class="input-group input-group-sm">
            <span class="input-group-text" style="width: 4.5em;">Editing</span>
            <select id="editingPlaylist" class="form-select" style="width: 8em;" value="@_editingPlaylist" @onchange="OnEditingPlaylistChanged">
                <option value="">(None)</option>
                @if (availablePlaylists != null)
                {
                    foreach (var name in availablePlaylists)
                    {
                        <option value="@name">@name</option>
                    }
                }
            </select>
            <button class="btn btn-outline-dark col-2" type="button" @onclick="() => AddCopyPlaylistClicked(AddCopyPlaylistMode.Add)">Add</button>
            <button class="btn btn-outline-dark col-2" type="button" @onclick="() => AddCopyPlaylistClicked(AddCopyPlaylistMode.Copy)">Copy</button>
            <button class="btn btn-outline-danger col-2" type="button" @onclick="ConfirmDeletePlaylist">Delete</button>
        </div>
    </div>
</div>

@* Normal Playlist View: *@
@if (_playlist is not null && _items is not null)
{
    <button class="btn-sm btn-outline-primary w-100 mb-2" @onclick="() => ShowReConvertAllMatrix()">ReConvert all with new Matrix Options</button>
    <button class="btn-sm btn-outline-primary w-100 mb-4" @onclick="() => ShowReConvertAllBrightness()">ReConvert all with new Brightness</button>
    <div class="playlist-list d-flex flex-column">
        @* Add at start *@
        <button class="btn-sm mb-4" @onclick="() => OnAddDialogShow(0)">Add new item at start</button>
        @for (int i = 0; i < _items.Count; i++)
        {
            var item = _items[i];
            var index = i;  // Need to preserve index for lambda capture, else lambda always gets last value of i
            <div class="d-flex gap-2 mb-3">
                @* Edit / Delete buttons *@
                <div class="d-flex flex-column justify-content-between">
                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => OnEditPlaylistItem(item, index)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDeletePlaylistItem(index)">Delete</button>
                </div>
                <div class="d-flex flex-column align-content-center">
                    @* Enabled / Disabled *@
                    <span>On</span>
                    <div>
                        <input type="checkbox" class="ww-large-checkbox" checked="@item.Enabled"
                        @onchange="(e) => ItemEnableToggled(item, index, ((ChangeEventArgs)e).Value is bool b && b)" />
                    </div>
                </div>
                @* Item info *@
                <PlayableItemCard
                    ImageSrc="@($"/playlist-images/{_playlist.Name}/{item.SourceFileName}")"
                    FormPage="EditPlayableItemFormPage.Playlist"
                    Item="item"
                    ImageClicked="@(() => OnPlaylistItemImageClicked(item, index))"
                />
            </div>
            @* Add button between items *@
            <button class="btn-sm mb-4" @onclick="() => OnAddDialogShow(index+1)">@((index == _items.Count - 1) ? "Add new item at end" : "Add new item here")</button>
        }
    </div>
}

@* Add PlayableItem dialog*@
@if (_addFormModel != null){
    <AddPlayableItemForm @ref="_addFormRef"
        FormModel="_addFormModel"
        LibraryItems="libraryItems"
        OnCancel="OnAddFormCancel"
        OnAdd="OnAddDialogItemChosen"
        PageTitle="Playlist item"
    />
}

@* Edit PlayableItem dialog*@
@if (_editFormModel is not null && _editFormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && _editFormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
{
    <EditPlayableItemForm
        @ref="_editFormRef"
        FormModel="_editFormModel"
        OnSave="OnSavePlaylistItem"
        OnCancel="OnEditFormCancel"
    />
}

@* ReConvert All dialog *@
@if (_editFormModel is not null && (_editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix || _editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness))
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
        <div style="width:80%;">
            <EditPlayableItemForm @ref="_editFormRef"
                FormModel="_editFormModel"
                OnReconvertAllOk="OnReconvertAll"
                OnCancel="OnEditFormCancel"
            />
        </div>
    </div>
}

@if (_addCopyPlaylistModel != null)
{
    @* @ref="addEditPlaylistFormRef" *@
    <AddCopyPlaylistForm 
        Model="_addCopyPlaylistModel"
        OnCancel="CancelAddCopyPlaylist"
        OnSubmit="OnAddCopyPlaylistFormSubmit"
    />
}
@* Add Playlist dialog *@
@* @if (showAddPlaylistModal)
{
    <div class="ww-modal">
        <div class="ww-modal-header text-center">
            <h4>Add Playlist</h4>
        </div>
        <div class="row">
            <input type="text" class="form-control" @bind="newPlaylistName" placeholder="Playlist name" />
            @if (!string.IsNullOrEmpty(addPlaylistError))
            {
                <div class="text-danger">@addPlaylistError</div>
            }
            <div class="modal-actions">
                <button class="btn btn-primary" @onclick="ConfirmAddPlaylist">Add</button>
                <button class="btn btn-secondary" @onclick="CancelAddPlaylist">Cancel</button>
            </div>
        </div>
    </div>
} *@
