@page "/playlist"
@rendermode InteractiveServer
@using WearWare.Common.Media
@using WearWare.Components.Forms.AddPlayableItemForm
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard

<PageTitle>WareWare Playlist</PageTitle>

<div class="config-controls">
    <div class="config-controls-row">
        <label for="activePlaylist">Playing</label>
        <select id="activePlaylist" value="@activePlaylist" @onchange="OnActivePlaylistChanged">
            <option value="">(None)</option>
            @if (availablePlaylists != null)
            {
                foreach (var name in availablePlaylists)
                {
                    <option value="@name">@name</option>
                }
            }
        </select>
        <button class="config-btn" type="button" @onclick="StartActivePlaylist">Start</button>
        <button class="config-btn" type="button" @onclick="StopActivePlaylist">Stop</button>
    </div>
    <div class="config-controls-row">
        <label for="editingPlaylist">Editing</label>
        <select id="editingPlaylist" value="@_editingPlaylist" @onchange="OnEditingPlaylistChanged">
            <option value="">(None)</option>
            @if (availablePlaylists != null)
            {
                foreach (var name in availablePlaylists)
                {
                    <option value="@name">@name</option>
                }
            }
        </select>
        <button class="config-btn" type="button" @onclick="AddPlaylist">Add</button>
        <button class="config-btn" type="button" @onclick="ConfirmDeletePlaylist">Delete</button>
    </div>

    @if (showAddPlaylistModal)
    {
        <div class="modal-backdrop">
            <div class="modal add-playlist-modal">
                <h4>Add Playlist</h4>
                <input type="text" class="form-control" @bind="newPlaylistName" placeholder="Playlist name" />
                @if (!string.IsNullOrEmpty(addPlaylistError))
                {
                    <div class="text-danger">@addPlaylistError</div>
                }
                <div class="modal-actions">
                    <button class="btn btn-primary" @onclick="ConfirmAddPlaylist">Add</button>
                    <button class="btn btn-secondary" @onclick="CancelAddPlaylist">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

@* Normal Playlist View: *@
@if (_playlist is not null && _items is not null)
{
    <button class="reconvert-all-button btn-outline-primary" @onclick="() => ShowReConvertAllGlobal()">ReConvert all with new Matrix Options</button>
    <button class="reconvert-all-button btn-outline-primary" @onclick="() => ShowReConvertAllEmbedded()">ReConvert all with new Brightness</button>
    <div class="playlist-list">
        <button class="playlist-add-button" @onclick="() => OnAddDialogShow(0)">Add new item at start</button>
        @for (int i = 0; i < _items.Count; i++)
        {
            var item = _items[i];
            var index = i;  // Need to preserve index for lambda capture, else lambda always gets last value of i
            <div class="playlist-item">
                <div class="playlist-item-controls">
                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => OnEditPlaylistItem(item, index, EditPlayableItemFormMode.Edit)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDeletePlaylistItem(index)">Delete</button>
                </div>
                <div class="playlist-item-enabled">
                    <span>On</span>
                    <input type="checkbox" class="checkbox" checked="@item.Enabled" @onchange="(e) => ItemEnableToggled(item, index, ((ChangeEventArgs)e).Value is bool b && b)" />
                </div>
                <PlayableItemCard ImageSrc="@($"/playlist-images/{_playlist.Name}/{item.SourceFileName}")" Item="item" ImageClicked="@(() => OnPlaylistItemImageClicked(item, index))" />
            </div>
            <button class="playlist-add-button" @onclick="() => OnAddDialogShow(index+1)">@((index == _items.Count - 1) ? "Add new item at end" : "Add new item here")</button>
        }
    </div>
}

@* Add Dialog:*@
@if (_addFormModel != null){
    <AddPlayableItemForm @ref="_addFormRef"
        FormModel="_addFormModel"
        LibraryItems="libraryItems"
        OnCancel="OnAddFormCancel"
        OnAdd="OnAddDialogItemChosen"
        PageTitle="Playlist item"
    />
}

@* Edit Dialog:*@
@if (_editFormModel is not null)
{
    <EditPlayableItemForm
        @ref="_editFormRef"
        FormModel="_editFormModel"
        OnNewSave="OnNewSavePlaylistItem"
        OnCancel="OnEditFormCancel"
    />
}

@* ToDo: should be able to get rid of this. In ReConvert all mode, we will still be using _editFormModel *@
@if (_showReConvertAllDialog)
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
        <div style="width:80%;">
            <EditPlayableItemForm @ref="_editFormRef"
                FormModel="_editFormModel"
                FormPage="EditPlayableItemFormPage.Playlist"
                FormMode="@_reconvertAllMode"
                OnReconvertAllOk="OnReconvertAll"
                OnCancel="OnEditFormCancel"
            />
        </div>
    </div>
}
