@page "/playlist"
@inherits DataPageBase
@rendermode InteractiveServer
<PageTitle>WareWare Playlist</PageTitle>

@if (!Ready)
{
	<LoadingOverlay />
}
else if (_addFormModel != null)
{
    @* Add PlayableItem dialog*@
    <AddPlayableItemForm
        FormModel="_addFormModel"
        LibraryItems="libraryItems"
        OnCancel="OnAddFormCancel"
        OnAdd="OnAddDialogItemChosen"
        PageTitle="Playlist item"
    />
}
else if (_editFormModel is not null)
{
    @if (_editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix || _editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness)
    {
        @* ReConvert All dialog *@
        <EditPlayableItemForm
            FormModel="_editFormModel"
            OnReconvertAllOk="OnReconvertAll"
            OnCancel="OnEditFormCancel"
            ZIndex="2000"
        />
    }
    else
    {
        @* Edit PlayableItem dialog*@
        <EditPlayableItemForm
            FormModel="_editFormModel"
            OnSave="OnSavePlaylistItem"
            OnCancel="OnEditFormCancel"
            ZIndex="2000"
        />
    }
}
else if (_addCopyPlaylistModel != null)
{
    @* Add / Copy Playlist dialog*@
    <AddCopyPlaylistForm 
        Model="_addCopyPlaylistModel"
        OnCancel="CancelAddCopyPlaylist"
        OnSubmit="OnAddCopyPlaylistFormSubmit"
    />
}
else
{
    @* Regular Playlist view *@
    @* Playlist controls *@
    <div>
        @* Playing *@
        <div class="d-flex flex-column mb-2">
            <div class="input-group input-group-sm">
                <span class="input-group-text">Playing</span>
                <select id="activePlaylist" class="form-select" value="@activePlaylist" @onchange="OnActivePlaylistChanged">
                    <option value="">(None)</option>
                    @if (availablePlaylists != null)
                    {
                        foreach (var name in availablePlaylists)
                        {
                            <option value="@name">@name</option>
                        }
                    }
                </select>
                <button class="btn btn-outline-success col-3" type="button" @onclick="StartActivePlaylist">Start</button>
                <button class="btn btn-outline-danger col-3" type="button" @onclick="StopActivePlaylist">Stop</button>
            </div>
        </div>
        @* Editing *@
        <div class="d-flex flex-column mb-2">
            <div class="input-group input-group-sm">
                <span class="input-group-text" style="width: 4.5em;">Editing</span>
                <select id="editingPlaylist" class="form-select" style="width: 8em;" value="@_editingPlaylist" @onchange="OnEditingPlaylistChanged">
                    <option value="">(None)</option>
                    @if (availablePlaylists != null)
                    {
                        foreach (var name in availablePlaylists)
                        {
                            <option value="@name">@name</option>
                        }
                    }
                </select>
                <button class="btn btn-outline-dark col-2" type="button" @onclick="() => AddCopyPlaylistClicked(AddCopyPlaylistMode.Add)">Add</button>
                <button class="btn btn-outline-dark col-2" type="button" @onclick="() => AddCopyPlaylistClicked(AddCopyPlaylistMode.Copy)">Copy</button>
                <button class="btn btn-outline-danger col-2" type="button" @onclick="ConfirmDeletePlaylist">Delete</button>
            </div>
        </div>
    </div>

    @* Playlist Items *@
    @if (_playlist is not null && _items is not null)
    {
        @* ReConvert buttons *@
        <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-2" @onclick="() => ShowReConvertAllMatrix()">ReConvert all with new Matrix Options</button>
        <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-4" @onclick="() => ShowReConvertAllBrightness()">ReConvert all with new Brightness</button>
        <div class="d-flex flex-column">
            @* Add at start *@
            <button class="btn-sm mb-4 rounded rounded-3" @onclick="() => OnAddDialogShow(0)">Add new item at start</button>
            @for (int i = 0; i < _items.Count; i++)
            {
                var item = _items[i];
                var index = i;  // Need to preserve index for lambda capture, else lambda always gets last value of i
                <div class="col-12 mb-3">
                    <div class="card h-100 shadow-sm bg-light">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center gap-3 p-2" style="cursor:pointer;" @onclick="() => OnPlaylistItemImageClicked(item, index)">
                                <div class="d-flex flex-column justify-content-between me-2 gap-2">
                                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => OnEditPlaylistItem(item, index)" @onclick:stopPropagation="true">Edit</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDeletePlaylistItem(index)" @onclick:stopPropagation="true">Delete</button>
                                </div>

                                <div class="d-flex flex-column justify-content-center align-items-center me-2">
                                    <span>On</span>
                                    <div>
                                        <input type="checkbox" class="ww-large-checkbox" checked="@item.Enabled"
                                            @onchange="(e) => ItemEnableToggled(item, index, ((ChangeEventArgs)e).Value is bool b && b)" @onclick:stopPropagation="true" />
                                    </div>
                                </div>

                                <div class="flex-grow-1">
                                    <PlayableItemCard
                                        ImageSrc="@($"/playlist-images/{_playlist.Name}/{item.SourceFileName}")"
                                        FormPage="EditPlayableItemFormPage.Playlist"
                                        Item="item"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Add button between items *@
                <button class="btn-sm mb-4 rounded rounded-3" @onclick="() => OnAddDialogShow(index+1)">@((index == _items.Count - 1) ? "Add new item at end" : "Add new item here")</button>
            }
        </div>
    }

}
