@using WearWare.Common.Media
@using WearWare.Common
@using WearWare.Components.Forms.MatrixOptionsForm
@using WearWare.Components.Shared
@using WearWare.Components.Shared.PlayableItemCard
@rendermode InteractiveServer

@* Main Razor Markup: *@
@if (FormModel is not null)
{
    @if (showMatrixOptionsForm && FormModel.UpdatedItem != null)
    {
        @* Matrix Options form *@
        <MatrixOptionsForm
            Options="FormModel.UpdatedItem.MatrixOptions"
            Visibility="MatrixConfigService.Visibility"
            RelativeBrightness="FormModel.UpdatedItem.RelativeBrightness"
            HideRelativeBrightness="FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix"
            OnValidSubmit="OnMatrixOptionsOk"
            OnCancel="OnMatrixOptionsCancel"
            Action="OK"
            Title="@BuildMatrixOptionsTitle()"
            ZIndex="@(ZIndex + 10)"
        />
    }
    else
    {
        @* Regular view *@
        <div class = "ww-modal" style="z-index:@(ZIndex)">
            <div class="ww-modal-header text-center">
                <h2>@BuildPageTitle()</h2>
            </div>
            <div class="ww-modal-body">
                <EditForm Model="@(FormModel.UpdatedItem ?? (object)FormModel)" OnValidSubmit="SaveEdit">
                    <DataAnnotationsValidator />
                    @* Legend *@
                    @if(FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix)
                    {
                        <div class="mb-3">
                            <span>ReConverts all @FormModel.FormPage items with their Relative Brightness and the selected Matrix Options (Defaults to the Global Matrix options)</span>
                        </div>
                    }
                    else if(FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness)
                    {
                        <div class="mb-3">
                            <span>ReConverts all @FormModel.FormPage items with a new Relative Brightness and their embedded Matrix Options</span>
                        </div>
                    }
                    @* -------------- Name (Only used in Import) -------------- *@
                    @if (FormModel.FormPage == EditPlayableItemFormPage.Import)
                    {
                        <div class="d-flex justify-content-center mb-3">
                            <ValidationMessage For="@(() => FormModel.UpdatedItem!.Name)" />
                            <div class="input-group input-group-sm rounded-3 w-50">
                                <span class="input-group-text">Name</span>
                                <EditboxTextLiveUpdate class="form-control" @bind-Value="FormModel.UpdatedItem!.Name" 
                                    AddFocusGrabber="true" ReplaceSpaceWith="-" />
                            </div>
                        </div>
                    }
                    @if (FormModel.FormPage != EditPlayableItemFormPage.Library && FormModel.FormPage != EditPlayableItemFormPage.Import && 
                        FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
                    {
                        <div class="d-flex flex-row gap-3 mb-3 justify-content-center">
                            @* -------------- PlayMode -------------- *@
                            <div class="d-flex flex-row align-items-center justify-content-center card bg-light border-secondary rounded-4 p-2 gap-3">
                                <InputRadioGroup TValue="PlayMode" @bind-Value="FormModel.UpdatedItem!.PlayMode">
                                    @foreach (PlayMode playMode in Enum.GetValues(typeof(PlayMode)))
                                    {
                                        <div class="d-flex flex-column align-items-center gap-1 px-2">
                                            <label class="mb-1 text-7">@playMode.ToString()</label>
                                            <InputRadio class="ww-large-radio mb-2" TValue="PlayMode" Value="@playMode" />
                                        </div>
                                    }
                                </InputRadioGroup>
                            </div>
                            @* -------------- PlayModeValue -------------- *@
                            <div class="d-flex flex-column align-items-center justify-content-center card bg-light border-secondary rounded-4 p-2 gap-0 w-25">
                                <label class="text-7 text-center">Value</label>
                                <EditboxNumberLiveUpdate class="rounded-4 w-100 text-7 text-center" @bind-Value="FormModel.UpdatedItem.PlayModeValue"
                                    disabled="@(FormModel.UpdatedItem.PlayMode == PlayMode.Forever)" onfocus="this.select()" AddFocusGrabber=true/>
                            </div>
                        </div>
                    }
                    @* -------------- Preview Image -------------- *@
                    @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix){
                        @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness){
                            <div class="d-flex justify-content-center mb-3">
                                <div class="card bg-light align-items-center rounded-4 d-inline-flex flex-nowrap">
                                    <div class="card-header w-100">
                                        <div class="text-center text-6 mb-0">@(FormModel.FormPage == EditPlayableItemFormPage.Import ? "Preview" : "Current settings")</div>
                                    </div>
                                    <div class="p-2">
                                        <PlayableItemCard
                                            ImageSrc="@FormModel.ImageUrl"
                                            FormPage="FormModel.FormPage"
                                            Item="FormModel.OriginalItem"
                                        />
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="d-flex justify-content-center mb-3">
                            <div class="card">
                                <div class="card-header mb-3">
                                    <div class="text-center text-6 mb-0">Brightness</div>
                                </div>
                                @* -------------- Stream Current Brightness -------------- *@
                                <div class="input-group input-group-sm justify-content-center mb-3 px-3">
                                    <span class="input-group-text w-50">Stream Current Brightness</span>
                                    <input type="number" disabled class="text-7 text-center w-25 form-control" @bind="FormModel.UpdatedItem!.CurrentBrightness" @bind:event="oninput"/>
                                    <span class="input-group-text text-7 text-center">%</span>
                                </div>
                                @* -------------- Relative Brightness -------------- *@
                                <ValidationMessage For="@(() => FormModel.UpdatedItem!.RelativeBrightness)" />
                                <div class="input-group input-group-sm justify-content-center mb-3 px-3">
                                    <span class="input-group-text w-50">Relative Brightness</span>
                                    @* form-control *@
                                    <EditboxNumberLiveUpdate class="text-7 text-center w-25 form-control" @bind-Value="FormModel.UpdatedItem!.RelativeBrightness"
                                        @oninput="e => CalculateBrightness()" onfocus="this.select()" AddFocusGrabber="true"
                                    />
                                    <span class="input-group-text text-7 text-center">%</span>
                                </div>
                                @* -------------- Adjusted Brightness -------------- *@
                                <div class="input-group input-group-sm justify-content-center mb-3 px-3">
                                    <span class="input-group-text w-50">Adjusted Brightness</span>
                                    <input type="number" disabled class="text-7 text-center w-25 form-control" @bind="adjustedBrightness" @bind:event="oninput"/>
                                    <span class="input-group-text text-7 text-center">%</span>
                                </div>
                            </div
                        </div>
                    }
                    @* -------------- Matrix Options + Footer Buttons ----------------*@
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-inline-flex flex-column align-items-stretch">
                            @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
                            {
                                <button type="button" class="btn btn-outline-secondary btn-large p-4 rounded-3 w-100 mb-3" @onclick="ShowMatrixOptions">Matrix Options</button>
                            }

                            <div class="d-flex gap-3 justify-content-center">
                                <button type="button" class="btn btn-outline-secondary btn-large p-4 rounded-3" @onclick="() => OnCancel.InvokeAsync(null)">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-large px-5 py-4 rounded-3">OK</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    }
}