@using WearWare.Common.Media
@using WearWare.Common
@using WearWare.Components.Forms.MatrixOptionsForm
@rendermode InteractiveServer

@* Main Razor Markup: *@
@if (FormModel is not null)
{
    <EditForm Model="@(FormModel.UpdatedItem ?? (object)FormModel)" OnValidSubmit="SaveEdit">
    <div class="edit-dialog" @onclick="() => OnCancel.InvokeAsync(null)">
        <div class="edit-dialog__content" @onclick:stopPropagation>
            <h4>@BuildPageTitle()</h4>
            @if(FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix)
            {
                <div style ="margin-bottom:1rem;">
                    <span>ReConverts all @FormModel.FormPage items with their Relative Brightness and the selected Matrix Options (Defaults to the Global Matrix options)</span>
                </div>
            }
            else if(FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness)
            {
                <div style ="margin-bottom:1rem;">
                    <span>ReConverts all @FormModel.FormPage items with a new Relative Brightness and their embedded Matrix Options</span>
                </div>
            }
            @if (FormModel.FormPage == EditPlayableItemFormPage.Import)
            {
                <div class="add-dialog-row" style="margin-top:0.5rem; margin-bottom:1rem;">
                    <DataAnnotationsValidator />
                    <ValidationMessage For="@(() => FormModel.UpdatedItem.Name)" />
                    <label class="add-dialog-label">Name
                        <InputTextOnInput class="add-dialog-number" style="width: 20rem; border-radius: 6px;" @bind-Value="FormModel.UpdatedItem.Name" />
                    </label>
                </div>
            }
            @if (FormModel.FormPage != EditPlayableItemFormPage.Library && FormModel.FormPage != EditPlayableItemFormPage.Import && 
                FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
            {
                <div class="add-dialog-row">
                    <div class="add-dialog-section">
                        @if (FormModel.UpdatedItem != null)
                        {
                            <div class="add-dialog-options">
                                <InputRadioGroup TValue="PlayMode" @bind-Value="FormModel.UpdatedItem.PlayMode">
                                    @foreach (PlayMode playMode in Enum.GetValues(typeof(PlayMode)))
                                    {
                                        <label class="add-dialog-radio-label">
                                            <span class="add-dialog-mode-text">@playMode.ToString()</span>
                                            <InputRadio class="add-dialog-radio" TValue="PlayMode" Value="playMode" />
                                        </label>
                                    }
                                </InputRadioGroup>
                            </div>
                        }
                    </div>
                    <div class="add-dialog-section">
                        <label class="add-dialog-label">Value</label>
                        @if (FormModel.UpdatedItem != null)
                        {
                            <InputNumber class="add-dialog-number" @bind-Value="FormModel.UpdatedItem.PlayModeValue" min="1" max="100" disabled="@(FormModel.UpdatedItem.PlayMode == PlayMode.Forever)" />
                        }
                    </div>
                </div>
            }
            @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness){
                <div class="add-dialog__list">
                    <div style="display:flex; align-items:center; gap:1rem;">
                        <img class="add-dialog__item-image" src="@FormModel.ImageUrl" alt="@FormModel.UpdatedItem?.Name" />
                        <div>
                            <strong>@FormModel.UpdatedItem?.Name</strong><br />
                            <span class="add-dialog__item-type">@FormModel.UpdatedItem?.MediaType</span>
                        </div>
                    </div>
                </div>
                @if (FormModel.UpdatedItem != null){    // IDE seems to want a null check here
                    <div class="add-dialog-row" style="margin-top: 1em;">
                        <label class="add-dialog-label">Stream Current Brightness (%)
                            <input type="number" disabled class="add-dialog-number" @bind="FormModel.UpdatedItem.CurrentBrightness"/>
                        </label>
                    </div>
                }
            }
            @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix){
                @if (FormModel.UpdatedItem != null){    // IDE seems to want a null check here
                    <div class="add-dialog-row">
                        <label class="add-dialog-label">Relative Brightness (%)
                            <input type="number" class="add-dialog-number" @bind="FormModel.UpdatedItem.RelativeBrightness" 
                                @bind:event="oninput" min="1" max="100" 
                                @onchange="e => CalculateBrightness()"
                            />
                        </label>
                    </div>
                }
            }
            @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness){
                <div class="add-dialog-row">
                    <label class="add-dialog-label">Adjusted Brightness (%)
                        <input type="number" disabled class="add-dialog-number" @bind="adjustedBrightness" @bind:event="oninput" min="1" max="100" />
                    </label>
                </div>
            }
            @if (FormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
            {
                <button type="button" class="add-dialog__cancel-button" @onclick="ShowMatrixOptions">Matrix Options</button>
            }
            <div style="margin-top:0.75rem; display:flex; gap:0.5rem; justify-content:center; width:100%; flex-direction:column; align-items:center;">
                <div style="display:flex; gap:0.5rem;">
                    <button type="button" class="add-dialog__cancel-button" @onclick="() => OnCancel.InvokeAsync(null)">Cancel</button>
                    <button type="submit" class="add-dialog__cancel-button">OK</button>
                </div>
            </div>
        </div>
    </div>
    </EditForm>
    
}

@* Matrix Options form *@
@if (FormModel is not null && showMatrixOptionsForm && FormModel.UpdatedItem != null)
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
            <div style="width:80%;">
            <MatrixOptionsForm
                Options="FormModel.UpdatedItem.MatrixOptions"
                Visibility="MatrixConfigService.Visibility"
                RelativeBrightness="FormModel.UpdatedItem.RelativeBrightness"
                HideRelativeBrightness="FormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix"
                OnValidSubmit="OnMatrixOptionsOk"
                OnCancel="OnMatrixOptionsCancel"
                Action="OK"
                Title="@BuildMatrixOptionsTitle()" />
        </div>
    </div>
}
